In [4]:
import pandas as pd
import numpy as np

# 1. Creating dataframe from Array
List or array can be converted to dataframe for numpy

## Option 1
calling np method

In [12]:
# creating an array
data = np.array([[1,4],[2,5],[3,6]])
# creating dataframe
df = pd.DataFrame(data
, index=['Row1','Row2','Row3']
,columns=['colA','colB'])
df

      colA  colB
Row1     1     4
Row2     2     5
Row3     3     6

## Option 2
as always

In [14]:
## list 
data = [[1,4],[2,5],[3,6]]
df = pd.DataFrame(data
, index=['RowA','Row2','Row3']
,columns=['üçí','ü•ë'])
df

      üçí  ü•ë
RowA  1  4
Row2  2  5
Row3  3  6