In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('./Assets/students_performance.csv')
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

# Math Operations
[freeCodeCamp **youtube**](#https://youtu.be/WcDaZ67TVRo?t=10071) ![yt](https://api.iconify.design/logos/youtube-icon.svg)

In [11]:
# summatory
mathScore = df['math score']

In [12]:
mathScore.sum()
mathScore.count()
mathScore.mean()
mathScore.std()
mathScore.max()
mathScore.min()

0

In [14]:
df['Total Score'] = (df['math score'] + df['reading score'] + df['writing score'])/3
df.head(4)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333

## Value counts() Method
[freeCodeCamp youtube](https://youtu.be/WcDaZ67TVRo?t=10564)![yt](https://api.iconify.design/logos/youtube-icon.svg)