In [2]:
import pandas as pd
import numpy as np

# Dataframes in Python with Pandas

## Dataframe from Array
> List or array can be converted to dataframe for numpy

### Option 1
calling np method

In [3]:
# creating an array
data = np.array([[1,4],[2,5],[3,6]])
# creating dataframe
df = pd.DataFrame(data
, index=['Row1','Row2','Row3']
,columns=['colA','colB'])
df

      colA  colB
Row1     1     4
Row2     2     5
Row3     3     6

### Option 2
as always

In [4]:
## list 
data = [[1,4],[2,5],[3,6]]
df = pd.DataFrame(data
, index=['RowA','Row2','Row3']
,columns=['üçí','ü•ë'])
df

      üçí  ü•ë
RowA  1  4
Row2  2  5
Row3  3  6

## Dataframe from Dictionary/Map

In [5]:
#list
regions = ['Valpara√≠so','OHiggins','Maule','Coquimbo']
population = [100,200,300,400]

In [6]:
#Dictionary assembly
demographics = {'Regions':regions,'Population':population}

In [7]:
#Creating Dataframe
dfDemographics = pd.DataFrame(demographics)
dfDemographics

      Regions  Population
0  Valpara√≠so         100
1    OHiggins         200
2       Maule         300
3    Coquimbo         400

## Dataframe from .CSV

In [8]:
#Read file
dfExams = pd.read_csv('./Assets/students_performance.csv')

In [9]:
# show just N rows in dataframe, 5 by default
dfExams.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [10]:
# show N tail rows, 5 by default
dfExams.tail(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Attributes of dataFrames
> Getting caracteristics from dataframes

In [13]:
# Getting access to shape attribute of dataframe,
dfExams.shape

(1000, 8)

In [14]:
# Config pandas display N rows
pd.set_option('display.max_rows',10)

In [16]:
# index columns
dfExams.index

RangeIndex(start=0, stop=1000, step=1)

In [20]:
# column names
dfExams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [22]:
# data types of each column
dfExams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

## Methods

In [24]:
# 5 first rows
dfExams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [26]:
# Describing basic statistics
dfExams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [27]:
len(dfExams)

1000

In [28]:
max(dfExams.index)

999

In [29]:
min(dfExams.index)

0

In [30]:
type(dfExams)

pandas.core.frame.DataFrame