In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('./Assets/students_performance.csv')
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

# Math Operations
[freeCodeCamp **youtube**](#https://youtu.be/WcDaZ67TVRo?t=10071) ![yt](https://api.iconify.design/logos/youtube-icon.svg)

In [3]:
# summatory
mathScore:list = df['math score']

In [4]:
mathScore.sum()
mathScore.count()
mathScore.mean()
mathScore.std()
mathScore.max()
mathScore.min()

0

In [5]:
df['Total Score'] = (df['math score'] + df['reading score'] + df['writing score'])/3

## Value counts() Method
[freeCodeCamp youtube](https://youtu.be/WcDaZ67TVRo?t=10564)![yt](https://api.iconify.design/logos/youtube-icon.svg)

In [6]:
from myFunction import function
con = function(1)
con

2

In [7]:
#count females in dataframe
df['gender'].count()

1000

In [10]:
# Values distribution
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
# Porcentual distribution
df['gender'].value_counts(normalize=True)

female    0.518
male      0.482
Name: gender, dtype: float64

## Sort Dataframe **sort_values()**
[freeCodeCamp](https://youtu.be/WcDaZ67TVRo?t=10818)

In [22]:
df.sort_values(['math score','reading score'],ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,100.000000
625,male,group D,some college,standard,completed,100,97,99,98.666667
...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,31.333333
787,female,group B,some college,standard,none,19,38,32,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000